{% load static %}
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="Shortcut Icon" href="{% static 'img/title_icon.png' %}">
    <link rel="stylesheet" href="{% static 'ThirdPartyLibrariesCss/fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'ThirdPartyLibrariesCss/APlayer.min.css' %}">
    <link rel="stylesheet" href="{% static 'ThirdPartyLibrariesCss/normalize.min.css' %}">
    <link rel="stylesheet" href="{% static 'lifeInterfaceAppCss/base.css' %}">
    <script src="{% static 'ThirdPartyLibrariesJs/jquery.mobile-1.4.5.min.js' %}"></script>
    <link rel="stylesheet" href="{% block customCss1 %}{% endblock %}">
    <link rel="stylesheet" href="{% block customCss2 %}{% endblock %}">
    <link rel="stylesheet" href="{% block customCss3 %}{% endblock %}">
    <title>{% block title %}Document{% endblock %}</title>
</head>
<body>
    <div id="nav">
        <header>
            <div class="logo">ARCHER'♇</div>
            <nav>
                <ul>
                    <li><a href="/">Home <i class="fas fa-home"></i></a></li>
                    <li><a href="#">About <i class="fas fa-address-card"></i></a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a class="music-bar">Music <i class="fas fa-music"></i></a></li>
                </ul>
            </nav>
            <div class="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></div>
        </header>
        <div class="aplayer" data-id="7231371581" data-server="tencent" data-type="playlist" data-mode="circulation"
             data-preload="auto"></div>
    </div>
    <div id="app">
        {% block body %}{% endblock %}
    </div>
</body>
<script src="{% static 'ThirdPartyLibrariesJs/Jquery.min.js' %}"></script>
<script src="{% static 'ThirdPartyLibrariesJs/axios.min.js' %}"></script>
<script src="{% static 'ThirdPartyLibrariesJs/vue.min.js' %}"></script>
<script src="{% block customJs1 %}{% endblock %}"></script>
<script src="{% block customJs2 %}{% endblock %}"></script>
<script src="{% block customJs3 %}{% endblock %}"></script>
<script src="{% static 'ThirdPartyLibrariesJs/APlayer.min.js' %}"></script>
<script src="{% static 'ThirdPartyLibrariesJs/Meting.min.js' %}"></script>
<script src="{% static 'lifeInterfaceAppJs/base.js' %}"></script>
</html>