.MainInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
}

.container .box {
    position: relative;
    width: 78%;
    height: 250px;
    overflow: hidden;
    transition: .5s;
    cursor: pointer;
    margin: 50px auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.container .box .content .date {
    position: absolute;
    top: -40px;
    color: #fff;
    transition: .5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
}

.container .box .content .date h6 {
    font-size: 16px;
    font-weight: 300;
}

.container .box:hover {
    z-index: 1;
    transform: scale(1.1);
    box-shadow: 0 25px 40px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.container .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /*background: linear-gradient(180deg, #f00, #000);*/
    mix-blend-mode: multiply;
    opacity: 0;
    transition: .5s;
    border-radius: 10px;
}

.container .box:hover .imgBx:before {
    opacity: 1;
}

.container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
}

.container .box .content div {
    padding: 20px;
}

.container .box .content h2 {
    color: #fff;
    transition: .5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
}

.container .box:hover .content h2 {
    transform: translateY(0);
    transition-delay: .6s;
}

.container .box .content p {
    color: #fff;
    transform: translateY(200px);
    transition: .5s;
    font-size: 14px;
}

.container .box:hover .content p {
    transform: translateY(0);
    transition-delay: .7s;
}

/*------------------------------------------------------------------*/
/*下一页按钮*/
.next-center {
    position: absolute;
    right: -85px;
    bottom: 40px;
}

.next-center a {
    display: inherit;
    width: 150px;
    height: 50px;
    color: #262626;
    font-size: 20px;
    background: rgba(255, 255, 255, .2);
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    border: 2px solid #262626;
    transition: .5s;
    transform: skew(15deg);
}

.next-center a:hover {
    background: rgba(79, 156, 255, .9);
    color: #fff;
}

.next-center span:nth-child(1) {
    position: absolute;
    width: 15px;
    height: 100%;
    border: 2px solid #262626;
    background: #efefef;
    top: 6px;
    left: -19px;
    transform: skewY(-45deg);
}

.next-center span:nth-child(2) {
    position: absolute;
    width: 100%;
    height: 15px;
    border: 2px solid #262626;
    background: #efefef;
    bottom: -19px;
    right: 6px;
    transform: skewX(-45deg);
    box-shadow: 0 40px 25px rgba(0, 0, 0 .2);
}

/*------------------------------------------------------------------*/
/*prev*/
.prev-center {
    position: absolute;
    left: -80px;
    bottom: 40px;
}

.prev-center a {
    display: inherit;
    width: 150px;
    height: 50px;
    color: #262626;
    font-size: 20px;
    background: rgba(255, 255, 255, .2);
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    border: 2px solid #262626;
    transition: .5s;
    transform: skew(-15deg);
}

.prev-center a:hover {
    background: rgba(79, 156, 255, .9);
    color: #fff;
}

.prev-center span:nth-child(1) {
    position: absolute;
    width: 15px;
    height: 100%;
    border: 2px solid #262626;
    background: #efefef;
    top: 8px;
    right: -19px;
    transform: skewY(45deg);
}

.prev-center span:nth-child(2) {
    position: absolute;
    width: 100%;
    height: 15px;
    border: 2px solid #262626;
    background: #efefef;
    bottom: -19px;
    right: -10px;
    transform: skewX(45deg);
    box-shadow: 0 40px 25px rgba(0, 0, 0 .2);
}

/*------------------------------------------------------------------*/
/*页脚*/
#footer {
    width: 100%;
    height: 30px;
    text-align: center;
    margin-bottom: 5px;
}

#footer p {
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    color: #9e8181;
    display: inline-block;
}

#footer span.inner {
    color: red;
}

/*------------------------------------------------------------------*/

@media (max-width: 991px) {
    .container .box {
        margin: 25px auto;
        width: 85%;
        height: 200px;
    }

    .container .box .content .date h6 {
        font-size: 12px;
        font-weight: 300;
    }

    .next-center {
        bottom: -70px;
        right: 30px;
        margin-bottom: 30px;
    }

    .next-center a {
        width: 100px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }

    .next-center span:nth-child(1) {
        width: 7px;
        height: 100%;
        top: 2px;
        left: -11px;
    }

    .next-center span:nth-child(2) {
        width: 100%;
        height: 7px;
        bottom: -11px;
        right: 2px;
    }

    .prev-center {
        bottom: -70px;
        left: 30px;
        margin-bottom: 30px;
    }

    .prev-center a {
        width: 100px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }

    .prev-center span:nth-child(1) {
        width: 7px;
        height: 100%;
        top: 4px;
        right: -11px;
    }

    .prev-center span:nth-child(2) {
        width: 100%;
        height: 7px;
        bottom: -11px;
        right: -6px;
    }

    #footer {
        position: relative;
        bottom: -60px;
    }

    #footer p {
        padding: 0 40px;
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    .container .box:first-child {
        margin-top: 0;
    }
}
